.typography {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: var(--font-geist-mono);
  &__xl {
    font-size: 2.25rem;
    font-weight: 500;
  }
  &__m {
    font-size: 1.5rem;
    font-weight: 500;
  }
  &__s {
    font-size: 1.125rem;
    font-weight: 500;
  }
  @media screen and (max-width: 980px) {
    &__xl {
      font-size: 1.75rem;
    }
    &__m {
      font-size: 1.25rem;
    }
    &__s {
      font-size: 1rem;
    }
  }
}
