.title {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: var(--font-geist-sans);
  &__main {
    font-size: 2.25rem;
    font-weight: 700;
  }
  &__section {
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__card {
    font-size: 1.25rem;
    font-weight: 700;
  }
}
